.landing {
    text-align: center;
    background-color: #E7F0EE;
}

.landing .hero-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: #000000;
    text-shadow: 3px 3px #2CC7B3;
}

.landing-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: #2CC7B3;
    text-shadow: 5px 5px #000000;
}

.landing-header:hover {
    color: #000000;
    text-shadow: 5px 5px #2CC7B3;
    text-decoration: underline;
}

nav {
    text-align: left;
    padding: 5px;
}

.landing-nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;   
    background-color: #D2E5E2; 
}

.landing-nav a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-right: 20px;
    text-shadow: 3px 3px #2CC7B3;
}

.landing-nav a:last-child {
    margin-right: 0;
}

.landing-nav a:hover {
    color: #ffffff;
}

#logo {
    color:white;
    text-shadow: 2px 2px #000000;
}

.selling-points {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.selling-points .point-title {
    text-shadow: 2px 2px #2CC7B3;
    font-size: 28px;
    font-style: normal;
}